# DX Cluster Settings (Optional, defaults are used if not set)
DX_CLUSTER_HOST=ve7cc.net
DX_CLUSTER_PORT=23
DX_CLUSTER_CALLSIGN=GUEST
DX_CLUSTER_COMMANDS=SET/SKIMMER,SET/FT8,SET/FT4

# App Settings
# (NODE_ENV and PORT are handled by the infrastructure)

# Club Log Settings (Optional, can be set in UI)
CLUBLOG_EMAIL=
CLUBLOG_PASSWORD=
CLUBLOG_API_KEY=
MY_CALLSIGN=
